<html>
<title>Kaka Koin</title>
<body>

  <div id="main" align="center" style="float: center; display:none;">
    <p>Kaka Koin Wallet</p>
    <h2 id = "worth">You currently have - Kaka Koins</h2>
    <h4 id = "size">There are - Blocks in the blockchain</h4>
    <h4 id = "logged" style="color:gray"></h4>
    <input type="button" value="Logout" onclick="Logout()">
    <a href="/Log">Log In</a>
    <a href="/Sign">Sign Up</a>
  </div>

  <div id="logsign" align="center" style="float: center; display:none;">
    <h2>You Are Not Logged In!</h2>
    <h3 style = "color:gray">Either <a href="/Log">Log In</a> Or <a href="/Sign">Sign In</a>.</h3>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
    if(localStorage["logged"] == "true"){
      document.getElementById("main").style = "float: center; display:block;"
    } else {
      document.getElementById("logsign").style = "float: center; display:block;"
    }
    document.getElementById("logged").innerHTML = localStorage["logged"]
    function Logout(){
      localStorage.setItem('logged',false)
      document.getElementById("username").value = ""
      document.getElementById("password").value = ""
      localStorage.clear()
      refresh()
    }

    function refresh(){

      if (localStorage["logged"] == "true"){
        document.getElementById("stat").innerHTML = "Hello " + localStorage["username"] + "!"

        document.getElementById("loginb").style = "display: none"
        document.getElementById("logoutb").style = "display: flex"
        document.getElementById("username").style = "display: none"
        document.getElementById("password").style = "display: none"
        document.getElementById("signinb").style = "display: none"
      } else {
        document.getElementById("stat").innerHTML = "Log In To Use"

        document.getElementById("loginb").style = "display: inline"
        document.getElementById("logoutb").style = "display: inline"
        document.getElementById("username").style = "text-align: center; margin : 0 auto; display: block"
        document.getElementById("password").style = "text-align: center; margin : 0 auto; display: block"
        document.getElementById("signinb").style = "display: inline"
      }

    }
  </script>
</body>
</html>
