<html>
<title>Kaka Koin</title>
<body>
  <div id="logindiv" style="border:1px solid #000000;display: inline-block; float: right;">

    <input id="username" type="text" value="" style="text-align: center; margin : 0 auto; display: block"></br>
    <input id="password" type="password" value="" style="text-align: center; margin : 0 auto; display: block"></br>

    <input type="button" value="Log In" onclick="Login()" id = "loginb" align="center">
    <input type="button" value="Log Out" onclick="Logout()" id = "logoutb" style="display: inline">
    <input type="button" value="Sign Up" onclick="SignUp()" id = "signinb">
    <h4 id="stat" align = "center"></h4>
  </div>

  <div id="main" align="center" style="float: center">
    <p>Kaka Koin Wallet</p>
    
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
    function Login(){
      $.post("/",{"Type":"log",
                  "User": document.getElementById("username").value.toString(),
                   "Password": document.getElementById("password").value.toString()},
      function(data, status){
        console.log(data)
        if (data == "Logged In"){
          localStorage.setItem('username', document.getElementById("username").value.toString())
          localStorage.setItem('logged',true)
          refresh()
        } else {
          alert(data)
        }
      });
    }

    function SignUp(){
        $.post("/",{"Type":"Sign",
                    "User": document.getElementById("username").value.toString(),
                     "Password": document.getElementById("password").value.toString()},
        function(data, status){
          console.log(data)
          if (data == "Sign Up"){
            alert("User Created! LogIn to use!")
          } else {
            alert(data)
          }
        });
    }

    function Logout(){
      localStorage.setItem('logged',false)
      document.getElementById("username").value = ""
      document.getElementById("password").value = ""
      localStorage.clear()
      refresh()
    }

    function refresh(){

      if (localStorage["logged"] == "true"){
        document.getElementById("stat").innerHTML = "Hello " + localStorage["username"] + "!"

        document.getElementById("loginb").style = "display: none"
        document.getElementById("logoutb").style = "display: flex"
        document.getElementById("username").style = "display: none"
        document.getElementById("password").style = "display: none"
        document.getElementById("signinb").style = "display: none"
      } else {
        document.getElementById("stat").innerHTML = "Log In To Use"

        document.getElementById("loginb").style = "display: inline"
        document.getElementById("logoutb").style = "display: inline"
        document.getElementById("username").style = "text-align: center; margin : 0 auto; display: block"
        document.getElementById("password").style = "text-align: center; margin : 0 auto; display: block"
        document.getElementById("signinb").style = "display: inline"
      }

      function start(){

      }
    }
  </script>
</body>
</html>
